# BUILD OUTPUT
dist/
tmp/
out-tsc/
bazel-out/

# DEPENDENCIAS DE NODE
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# ANGULAR & TAILWIND CACHES
.angular/
.angular/cache/
.sass-cache/

# ENTORNOS Y CONFIGURACIONES LOCALES
.firebase/
firebase-debug.log
.firebaserc
firebase.json
.env
.env.local
.env.development
.env.production
.env.test

# IDEs / EDITORES
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/
__screenshots__/

# VSCode
.vscode/*

# TESTING / COVERAGE
coverage/
libpeerconnection.log
connect.lock
testem.log
typings/
karma-*
jest-*

# SISTEMA OPERATIVO
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# LOGS & TEMPORAL
*.log
*.tmp
*.swp

# COMPILADOS / DEPLOY
dist/portafolio/
public/
backup/